---
# handlers file for web
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Restart php-fpm
  ansible.builtin.service:
    name: "php{{ web_apt_php_version }}-fpm"
    state: restarted