name: Ansible

on:
  workflow_dispatch:  
  push:
    paths:
      - ansible/**
  pull_request:
    paths:
      - ansible/**

jobs:
  lint:
    name: "Ansible Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - name: Run Ansible-lint
        uses: ansible-actions/ansible-lint-action@v1.0.3
        with:
          target: "ansible"
          python_dependency: 'ansible-core==2.20.0rc1'
